#username:focus{
    outline: none;
}

@media(max-width:800px){
    #image1{
        display: hidden;
    }
}
.arrright{
    width: 50px;
    height: 60px;
    background-color: orangered;
    position: relative;
    border-radius: 50%;
    

}
.arrow{
    position: absolute;
    height: 15px;
    width: 15px;
    border-top: solid white;
    border-left: solid white;
   
    left: 19px;
    top: 26px; 
   
    
    transform: rotate(45deg);
}
.move{
    transform: rotate(90deg);
}


.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 200%;
  transition: transform 0.5s ease;
  margin-top: 20px;
  justify-content: space-evenly;
  
}

.slide {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
 
}

.slide img {
  padding: 20px 20px;
  /* width: 150px;
  height: 100px; */
  border-radius: 50%;
  
  object-fit: cover;

}

.in {
  display: none;
}

/* Slide movement */
#s1:checked ~ .slides { transform: translateX(0); }
#s2:checked ~ .slides { transform: translateX(-1350px); }
.arrows {
  position: absolute;
  top: 0%;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  justify-content: end;
  gap: 10px;
  padding: 0px 50px;
}

.arrows label {
  cursor: pointer;
  font-size: 24px;
  background: rgb(163, 163, 163);
  padding: 5px 8px;
 border-radius: 50%;
}
.slide1{
  margin-top: 20px;
  width: 160%;
 display: flex;
 flex-wrap: wrap;
  
  
}
/* Slide movement */
#s3:checked ~ .slides { transform: translateX(0); }
#s4:checked ~ .slides { transform: translateX(-1300px); }

.slide2{
  margin-top: 30px;
  width: 200%;
 display: flex;
 flex-wrap: wrap;
  
  
}
#s5:checked ~ .slides1 { transform: translateX(0); }
#s6:checked ~ .slides1 { transform: translateX(-1000px); }
.slides1{
  margin-top: 20px;
}

.slider1 {
  width: 100%;
  overflow: hidden;
  position: relative;
}
 
 
@media(max-width:576px){
 #s1:checked ~ .slides { transform: translateX(0); }
#s2:checked ~ .slides { transform: translateX(-450px); }
#s3:checked ~ .slides { transform: translateX(0); }
#s4:checked ~ .slides { transform: translateX(-450px); }
}

@media(min-width:577px) and (max-width:768px){
  #s1:checked ~ .slides { transform: translateX(0); }
#s2:checked ~ .slides { transform: translateX(-550px); }
#s3:checked ~ .slides { transform: translateX(0); }
#s4:checked ~ .slides { transform: translateX(-600px); }
#s5:checked ~ .slides1 { transform: translateX(0); }
#s6:checked ~ .slides1 { transform: translateX(-500px); }
}
